* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  height: 50px;
  display: inherit;
  margin: auto 0;
  margin-left: 50px;
}

.nav-item {
  display: inline-block;
  margin: 0 10px;
}

.nav-container {
  margin-right: 50px;
}

/* Main Section */

main {
  display: flex;
}

.profiles {
  background-color: midnightblue;
  width: 25%;
  justify-items: center;
  margin: 0;
}

.profiles figure img {
  margin: 5%;
  width: 90%;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}

.main-info {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: cadetblue;
}

.info-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.info-container figure {
  margin: 20px;
  position: relative;
  margin-right: -40px;
}

.info-container figure img {
  width: 80px;
}

.info-container p {
  background-color: white;
  height: 120px;
  padding: 30px 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

/* footer */

footer {
  height: 100px;
  text-align: center;
  padding-top: 40px;
  background-color: black;
}

.footer-links {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.footer-links li {
  display: inline;
  margin: 20px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
}
